<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://uc69bdba26d034e33c0c34fb8f17.dl.dropboxusercontent.com/cd/0/get/A8IOPGXP1iL2uM-pfDnjmGn-kbQAkyl4b8BpWyRmijRXfUMGuhH7XO298qctlkZoYyjEVcUiF3E6E2BluG4u40EeXytfzYQijEzbbOt0UwyEbaYfeT39YvYVovLUwfgPXt0/file</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.dalpin.cool</string>
				<key>bundle-version</key>
				<string>1.3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>DolphiniOS (CRCC Certificate)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
